<h1 mat-dialog-title >Modifier rendez-vous</h1>
<div mat-dialog-content class="container">
  <form [formGroup]="myForm" >
    <div class="row">
      <div class="col">
        <strong>De :</strong> {{eventJson.start | date:'dd/MM/yyyy, h:mm a'}} 
      </div>
      <div class="col">
        <strong>A :</strong> {{eventJson.end | date:'dd/MM/yyyy, h:mm a'}} 
      </div>
        
    </div>
    <div class="row">
      <mat-form-field appearance="outline" >
        <mat-label>Chercher par nom ou prénom</mat-label>
        <input 
        required 
        type="text"
        (keyup)="onSearch($event)"
        matInput 
        formControlName="searchInput" 
        [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption  #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.firstName}} {{option.lastName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </div>
    <div class="row">
      <mat-slide-toggle
              formControlName="confirmInput">
              <span>Passé(e)</span>
      </mat-slide-toggle>
    </div>
    <div class="row">

      <mat-form-field appearance="outline">
        <mat-label>Commentaire</mat-label>
        <input 
        class="form-control"
        matInput 
        formControlName="commentInput">
      </mat-form-field>
    </div>
  </form>
  
</div>
<mat-dialog-actions align="end">
  <button 
    mat-button 
    [disabled]="!myForm.valid"
    (click)="onUpdate()"
    cdkFocusInitial 
    mat-dialog-close
    mat-raised-button 
    color="primary">
    Modifier
</button>
<button 
    mat-button 
    (click)="onDelete()"
    mat-raised-button 
    mat-dialog-close
    color="warn">
    Supprimer
</button>
  <button mat-button mat-dialog-close
  color="accent">Annuler</button>
</mat-dialog-actions>