<h1 mat-dialog-title >Créer un rendez-vous</h1>
<div mat-dialog-content class="container">
  <form [formGroup]="myForm" >
    <div class="row">
      <p>
        <strong>A :</strong> {{dataPassed.dateSeance | date:'dd/MM/yyyy, h:mm a'}} 
      </p>

    </div>
    <div class="row">
      <mat-form-field appearance="outline" >
        <mat-label>Chercher par nom ou prénom</mat-label>
        <input 
        required 
        type="text"
        (keyup)="onSearch($event)"
        matInput 
        formControlName="searchInput" 
        [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption  #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.firstName}} {{option.lastName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </div>
    <div class="row">
      <mat-form-field>
        <input matInput type="datetime-local" placeholder="start date">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-slide-toggle
              formControlName="confirmInput">
              <span>Passé(e)</span>
      </mat-slide-toggle>
    </div>
    <div class="row">

      <mat-form-field appearance="outline">
        <mat-label>Commentaire</mat-label>
        <input 
        class="form-control"
        matInput 
        formControlName="commentInput">
      </mat-form-field>
    </div>
  </form>
  
</div>
<mat-dialog-actions align="end">
  <button 
    mat-button 
    [mat-dialog-close]="true" 
    [disabled]="!myForm.valid"
    type="submit"
    (click)="onCreate()"
    cdkFocusInitial 
    mat-raised-button 
    color="primary">
    Enregistrer
</button>
  <button mat-button mat-dialog-close>Annuler</button>
</mat-dialog-actions>