  
  
  
  <h2 mat-dialog-title>Install Angular</h2>
  
  
<mat-dialog-content class="mat-typography">
    <mat-tab-group>
        <mat-tab label="First"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dolor sint corrupti quae doloremque necessitatibus explicabo cum quis laboriosam eius, quam quas? Porro, odio. Adipisci tempora sapiente accusamus et quas. </mat-tab>
        <mat-tab label="Second"> Content 2 </mat-tab>
        <mat-tab label="Third"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis enim nostrum vitae mollitia ea nesciunt molestiae praesentium minus similique quia necessitatibus odit distinctio illo quidem, animi officia id quae optio? </mat-tab>
      </mat-tab-group>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
