
<!-- primary navbar-->
<mat-toolbar color="primary" class="example-toolbar">
  <button 
  (click)="onToggleSideBar()"
  mat-icon-button ><mat-icon>menu</mat-icon></button>
  <h1>Mon cabinet</h1>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<!-- secondary navbar-->
<mat-toolbar color="accent" class="example-toolbar shadow">
  <h3>{{subTitle}}</h3>
</mat-toolbar>
<!--Prgress bar-->
<mat-progress-bar *ngIf="facadeService.isLoading | async" mode="indeterminate"></mat-progress-bar>