<div class="container-100">
  <div class="row">
    <div class="col mt-2">
      <button mat-raised-button color="primary" (click)="addNewPatient()">
        <mat-icon mat-list-icon>add_reaction</mat-icon>
        Nouveau patient</button>
    
      <mat-form-field appearance="outline" class="ml-2">
        <mat-label>Trouver un patient</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mohammed Ti..." #input>
      </mat-form-field>

    </div>
  </div>
  <div class="row">

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> Prénom </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="tel">
    <th mat-header-cell *matHeaderCellDef> Téléphone </th>
    <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
  </ng-container>


  <ng-container matColumnDef="dateCreation">
    <th mat-header-cell *matHeaderCellDef> Date & heure création </th>
    <td mat-cell *matCellDef="let element"> {{element.dateCreation | date:'dd/MM/yyyy, h:mm a'}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <!--Actions per row-->
      <div class="example-button-row">
        <button mat-button color="primary" (click)="openDialog()">Détails</button>
        <button mat-button color="accent" (click)="updatePatient(element.id)">Modifier</button>
        <button mat-button color="warn" (click)='deletePatient(element.id)'>Supprimer</button>
      </div>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>

  </div>
  
</div>
