<div class="container-100">
  <div class="row">
    <div class="col">
      <app-header (toggleSideBar)="onToggle($event)" [subTitle]="subTitle"></app-header>
    </div>
  </div>
  <div class="row">
    
    <div class="col-2" *ngIf="isOpen">
          <app-sidebar  (changeTitle)="onChangeTitle($event)"></app-sidebar>
    </div>
    
    <div class="col app-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-footer></app-footer>
    </div>
  </div>
</div>