<div class="mat-app-background accent">
    <mat-nav-list color="accent">
        <a mat-list-item 
        routerLink="/patient" routerLinkActive="active"
        (click)="onLabelHeaderEmit(titles.GERER_PATIENT)"
        >
            <mat-icon mat-list-icon>person_pin</mat-icon>
            {{titles.GERER_PATIENT}}</a>
    
        <a  routerLink="/patient/add" routerLinkActive="active"
         mat-list-item
         (click)="onLabelHeaderEmit(titles.AJOUTER_PATIENT)" >
         <mat-icon mat-list-icon>add_reaction</mat-icon>
         {{titles.AJOUTER_PATIENT}}</a>

         <a  routerLink="/agenda" routerLinkActive="active"
         mat-list-item
         (click)="onLabelHeaderEmit(titles.AGENDA)" >
         <mat-icon mat-list-icon>book_online</mat-icon>
         {{titles.AGENDA}}</a>

        <a mat-list-item >Inventaire</a>
        <a mat-list-item >Tableau de bord</a>
        
    </mat-nav-list>
</div>
