<h2 mat-dialog-title>Ajouter un nouveau patient</h2>
<mat-dialog-content>


<mat-card *ngIf="false" class="warn mt-2 mr-2 notif-form">
  <h4>Erreur</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ipsum consequatur harum architecto excepturi assumenda veritatis quibusdam incidunt. Maxime porro ullam animi, veritatis deleniti ea fuga necessitatibus accusamus eos perspiciatis!
  </p>
</mat-card>
<div class="container-fluid mt-2">
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Prénom</mat-label>
          <input matInput [(ngModel)]="patient.firstName" required>
        </mat-form-field></td>
        <td><mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Nom</mat-label>
          <input matInput [(ngModel)]="patient.lastName" required>
        </mat-form-field></td>
      </tr></table>
      <table class="example-full-width">
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Date de naissance</mat-label>
            <input [(ngModel)]="patient.dateBirth" placeholder="6/12/1991" matInput [matDatepicker]="picker" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-radio-group  appearance="outline" [(ngModel)]="patient.gender" aria-label="Select an option">
            
            <mat-radio-button name="gender" value="HOMME" required>Homme</mat-radio-button>
            <mat-radio-button name="gender" value="FEMME" required>Femme</mat-radio-button>
          </mat-radio-group>
        </td>
      </table>
      <table class="example-full-width" cellspacing="0"><tr>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Situation familiale</mat-label>
            <mat-select [(value)]="patient.familySituation" required>
              <mat-option [value]="familySituation.single.key">{{familySituation.single.value}}</mat-option>
              <mat-option [value]="familySituation.maried.key">{{familySituation.maried.value}}</mat-option>
              <mat-option [value]="familySituation.divorced.key">{{familySituation.divorced.value}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="ml-1"  appearance="outline">
            <mat-label>Nombre d'enfant</mat-label>
            <input type="number" [(ngModel)]="patient.numberChildren" required matInput placeholder="Ex. 3">
          </mat-form-field>
      </td>
        <td><mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Numéro portable</mat-label>
          <input type="tel" [(ngModel)]="patient.tel" required matInput placeholder="Ex. 06 XX XX XX XX">
        </mat-form-field></td>
      </tr></table>

      <table class="example-full-width" cellspacing="0">
        <tr>
        <!--Assurance -->
        <td>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Assurance</mat-label>
            <input type="text" [(ngModel)]="patient.insurance" required  matInput placeholder="Ex. Axa">
          </mat-form-field>
        </td> 
        <!--Date de naissance -->
        <td>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Addresse complète</mat-label>
            <textarea matInput placeholder="Ex. Rue Badr..." required [(ngModel)]="patient.address"></textarea>
          </mat-form-field>
        </td> 
        </tr>
        <tr>
          <td>
          </td>
          <td></td>
        </tr>
      </table>
      <button mat-raised-button color="primary" (click)="insertPatient()">Enregistrer</button>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" (click)="insertPatient()" cdkFocusInitial mat-raised-button color="primary">Ajouter</button>
  <button mat-button mat-dialog-close>Annuler</button>
</mat-dialog-actions>