<h2 mat-dialog-title>Ajouter un nouveau patient</h2>
<form (ngSubmit)="onSubmit()" #f="ngForm">
<mat-dialog-content>
<div class="container-100">
      <table><tr>
        <td><mat-form-field appearance="outline" class="full-width">
          <mat-label>Prénom</mat-label>
          <input 
          matInput 
          [(ngModel)]="patient.firstName" 
          name="patient.firstName" 
          class="form-control" 
          required>
          <mat-error >champ obligatoire</mat-error>
        </mat-form-field></td>
        <td><mat-form-field appearance="outline" class="full-width">
          <mat-label>Nom</mat-label>
          <input matInput
           [(ngModel)]="patient.lastName" 
           name="patient.lastName" 
           class="form-control" required>
          <mat-error >champ obligatoire</mat-error>
        </mat-form-field></td>
      </tr></table>
      <table>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Date de naissance</mat-label>
            <input 
            [(ngModel)]="patient.dateBirth" 
            name="patient.dateBirth" 
            placeholder="6/12/1991" matInput 
            [matDatepicker]="picker" 
            class="form-control" 
            required>
            <mat-error >champ obligatoire</mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-radio-group  
          appearance="outline" 
          [(ngModel)]="patient.gender" 
          aria-label="Select an option"
          name="patient.dateBirth" 
          >
            
            <mat-radio-button name="gender" value="HOMME" required>Homme</mat-radio-button>
            <mat-radio-button name="gender" value="FEMME" required>Femme</mat-radio-button>
          </mat-radio-group>
        </td>
      </table>
      <table><tr>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Situation familiale</mat-label>
            <mat-select 
            [(value)]="patient.familySituation"
            name="patient.familySituation"
            required>
              <mat-option [value]="familySituation.single.key">{{familySituation.single.value}}</mat-option>
              <mat-option [value]="familySituation.maried.key">{{familySituation.maried.value}}</mat-option>
              <mat-option [value]="familySituation.divorced.key">{{familySituation.divorced.value}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="ml-1"  appearance="outline">
            <mat-label>Nombre d'enfant</mat-label>
            <input type="number" 
            [(ngModel)]="patient.numberChildren" 
            name="patient.numberChildren" 
            
            required
            matInput placeholder="Ex. 3"
            class="form-control">
            <mat-error>Saisir un chiffre</mat-error>
          </mat-form-field>

      </td>
        <td><mat-form-field class="full-width" appearance="outline">
          <mat-label>Numéro portable</mat-label>
          <input type="text" tel
          [(ngModel)]="patient.tel"
          name="patient.tel"
          pattern="[0-9]*"
          required matInput 
          placeholder="Ex. 06 XX XX XX XX"
          >
          <mat-error>Saisir un numéro valide</mat-error>
        </mat-form-field></td>
      </tr></table>

      <table class="full-width" cellspacing="0">
        <tr>
          <!--address -->
          <td>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Addresse complète</mat-label>
              <textarea 
              class="form-control"
              matInput 
              placeholder="Ex. Rue Badr..." 
              required 
              [(ngModel)]="patient.address"
              name="patient.address"
              >
            </textarea>
            <mat-error>champ obligatoire</mat-error>
            </mat-form-field>
          </td> 
        <!--Assurance -->
        <td>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Assurance</mat-label>
            <input 
            class="form-control" 
            type="text" 
            [(ngModel)]="patient.insurance"
            name="patient.insurance"
            required  matInput placeholder="Ex. Axa">
            <mat-error>Champ obligatoire</mat-error>
          </mat-form-field>
        </td> 
        </tr>
        <tr>
          <td>
          </td>
          <td></td>
        </tr>
      </table>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button 
  [disabled]="!f.valid"
  mat-button 
  [mat-dialog-close]="true" 
  type="submit"
  cdkFocusInitial 
  mat-raised-button 
  color="primary">
  Ajouter</button>
  <button mat-button mat-dialog-close>Annuler</button>
</mat-dialog-actions>
</form>